*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.clearfix{
    zoom: 1;
    &:after{
        content: "";
        display: block;
        height: 0;
        clear: both;
    }
}
.header{
    width: 100%;
    padding: 0 5%;
    background: #121111;
    height: 70px;
    box-sizing: border-box;
    .head_logo{
        float: left;
        margin-top: 19px;
    }
    .head_list{
        ul{
            li{
                float: left;
                font-size: 16px;
                list-style: none;
                margin-left: 40px;
                height: 70px;
                line-height: 70px;
                a{
                    text-decoration: none;
                    color: #ffffff;
                }
            }
        }
    }
    .head_login{
        float: right;
        p{
            height: 70px;
            line-height: 70px;
            float: left;
            color: #ffffff;
            a{
                margin: 0px 5px;
                font-size: 16px;
                text-decoration: none;
                color: #ffffff;
            }
            .icon{
                padding-left: 15px;
            }
        }
    }
}
.header2{
    width: 100%;
    img{
        width: 100%;
    }
}
.container{
    width: 100%;
    img{
        width: 100%;
    }
}
.pro_list{
    width: 1200px;
    height: auto;
    margin: 90px auto;
    ul{
        li{
            width: 49%;
            height: auto;
            float: left;
            margin-bottom: 15px;
            position: relative;
            &:nth-child(odd){
                margin-right: 2%;
            }
            .pro_bg{
                display: none;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: rgba(0,0,0,.6);
                transition: all 0.5s;
                .pro_bg_box{
                    width: 180px;
                    height: 100px;
                    margin: 0px auto;
                    position: relative;
                    top: 50%;
                    margin-top: -50px;
                    text-align: center;
                    .pro_bg_box_top{
                        width: 100%;
                        height: 65px;
                        border-top: 2px solid #ffffff;
                        border-bottom: 2px solid #ffffff;
                        text-align: center;
                        p{
                            line-height: 30px;
                            color: #ffffff;
                            &.sec{
                                font-size: 20px;
                            }
                        }    
                    }
                    p{
                        color: #ffffff;
                        &.price{
                            line-height: 35px;
                            font-size: 20px;
                            font-weight: bold;
                        }
                    }
                    
                }
            }
            
            &:hover{
                .pro_bg{
                    display: block;
                }
            }
        }
    }
}
.blog{
    width: 920px;
    height: auto;
    margin: 0px auto;
    .blog_list{
        width: 95%;
        height: 340px;
        box-shadow: 0 0 7px #aaa;
        box-sizing: border-box;
        margin-top: 70px;
        padding: 40px 20px 0px 35px;
        position: relative;

        .title{
            float: left;
            font-size: 16px;
            color: #525252;
        }
        .date{
            float: right;
            color: #525252;
            font-size: 14px;
        }
        .info{
            clear: both;
            font-size: 14px;
            color: #525252;
            margin-top: 35px;
            line-height: 28px;
        }
        .blog_list_h{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.7);
            z-index: 2;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -45px;
                margin-top: -12px;
            }
        }
                
        &:hover{
            .blog_list_h{
                display: block;
            }
        }
    }
}
.personal{
    width: 1200px;
    margin: 0 auto;
    .personal_tit{
        font-size: 24px;
        margin-right: 20px;
        color: #555;
        span{
            font-size: 14px;
            margin-left: 10px;
        }
    }
    .title_list{
        display: inline-block;
        height: 38px;
        background: #E9E9E9;
        border-radius: 5px;
        margin-top: 45px;
        margin-bottom: 30px;
        li{
            float: left;
            display: block;
            width: 130px;
            height: 38px;
            line-height: 38px;
            text-align: center;
            font-size: 14px;
            margin-right: 10px;
            border-radius: 5px;
            a{     
            color: #505050;
            }
            &:hover{
                background: #D70000;
                a{
                color: #ffffff;                
                }
            }
        }
    }
    .product_box{
        display: none;
        width: 100%;
        height: auto;
        overflow: hidden;
        border: 1px #DCDCDC solid;
        padding: 20px;
        box-sizing: border-box;
        padding-bottom: 50px;
        padding-left: 30px;
        .product_box_tit{
            border-bottom: 1px solid #D7D7D7;
            li{
                float: left;
                width: 110px;
                height: 40px;
                line-height: 40px;
                font-size: 14px;
                color: #555;
                &.check{
                    width: 130px;
                    margin-right: 10px;
                    vertical-align: top;
                    input{
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                }
                &.pro_name{
                    width: 450px;
                    text-align: left;
                }
            }
        }
        .procuct_box_list{
            border-bottom: 1px solid #D7D7D7;
            li{
                float: left;
                width: 110px;
                height: 60px;
                line-height: 60px;
                font-size: 14px;
                color: #555;
                margin-top: 10px;
                &.check{
                    width: 130px;
                    margin-right: 10px;
                    input{
                        vertical-align: middle;
                    }
                    img{
                        vertical-align: middle;
                    }
                }
                &.pro_name{
                    width: 450px;
                    text-align: left;
                }
            }
            
        .address{
            color: #909090;
            font-size: 14px;
            clear: both;
        }
        }
    }
    .basic_info{
        width: 100%;
        height: 270px;
        overflow: hidden;
        border: 1px #DCDCDC solid;
        padding: 20px;
        box-sizing: border-box;
        padding-bottom: 50px;
        padding-left: 30px;
        .info_list{
            width: 366px;
            height: 200px;
            .basic_name{
                span{
                    width: 90px;
                    text-align:right;
                }
                input{
                    width: 205px;
                    height: 26px;
                    border: 1px solid #CFCFCF ;
                    border-radius: 3px;
                    padding-left: 20px;
                    margin: 0 10px;
                }
            }
        }
    }
}
.footer{
    width: 100%;
    overflow: hidden;
    .footer_container{
        width: 74%;
        height: 210px;
        margin: 0px auto;
        border-top: 2px #717070 solid;
        border-bottom: 2px #717070 solid;
        text-align: center;
        margin-top: 40px;
        p{
            font-size: 28px;
            color: #4f4f4f;
            margin-top: 35px;
        }
    }
}
.footer2{
    .footer2_container{
        width: 74%;
        margin: 0 auto;
        p{
            font-size: 12px;
            color: #797D7F;
            float: left;
            line-height: 99px;
        }
        img{
            float: right;
            margin-top: 30px;
        }
    }
}